@font-face {
    font-family: 'shrikhandregular';
    src: url('font/shrikhand-regular-webfont.eot');
    src: url('font/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/shrikhand-regular-webfont.woff2') format('woff2'),
         url('font/shrikhand-regular-webfont.woff') format('woff'),
         url('font/shrikhand-regular-webfont.ttf') format('truetype'),
         url('font/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('font/Roboto-Regular-webfont.eot');
    src: url('font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto-Regular-webfont.woff') format('woff'),
         url('font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}

body img {
    object-fit: cover;
}

h1, h3, h4 {
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*Header*/
.header {
    margin: 30px 20px 10px 20px;
}

.retour {
    display: block;
    align-self: center;
    font-size: 25px;
}

.header a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: black;
}

.logo_header {
    width: 100%;
    text-align: center;
    font-family: 'shrikhandregular', Arial, Helvetica, sans-serif;
    font-size: 40px;
}

/*Image bannière*/
.banner1 {
    width: 100%;
    height: 300px;
    background: no-repeat center center / cover url("images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.banner2 {
    width: 100%;
    height: 300px;
    background: no-repeat center center / cover url("images/stil-u2Lp8tXIcjw-unsplash.jpg"); 
}

.banner3 {
    width: 100%;
    height: 300px;
    background: no-repeat center center / cover url("images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.banner4 {
    width: 100%;
    height: 300px;
    background: no-repeat center center / cover url("images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/*Choix du menu*/
.menu {
    background-color: rgb(246, 246, 246);
    border-radius: 40px 40px 0 0;
    padding: 40px 20px;
    margin-top: -60px;
}

.titre {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'shrikhandregular', Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.coeur {
    font-size: 1.7em;
    margin-right: 20px;
}

h3 {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

h3::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #99e2d0;
    margin-top: 5px;
}

p {
    color: rgba(0, 0, 0, 0.7);  
}

.encarts {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 8px rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
}

.prix {
    align-self: flex-end;
    margin-right: 10px;
}

.bouton {
    margin-top: 50px;
    margin-bottom: 30px;
}

.btn_commander {
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    background: linear-gradient( #FF79DA, #9356DC);
    box-shadow: 0px 8px 4px rgb(207, 207, 207);
    text-align: center;
    margin: auto;
}

/*footer*/
footer {
    background-color: #353535;
    padding: 30px 20px;
}

footer a {
    text-decoration: none;
    color: white;
    line-height: 1.8em;
}

.logo_footer {
    font-family: 'shrikhandregular', Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.couverts {
    margin-right: 15px;
}

.poignee_main {
    margin-right: 9px;
}

@media all and (min-width: 600px) {
    .banner1,
    .banner2,
    .banner3,
    .banner4 {
        background-position: 0% 65%;
    }
         
}

@media all and (min-width: 1000px) {
    .food {
        display: flex;
        justify-content: space-between;
    }
        
}

